<h2>List of ratings</h2>
<p>number of ratings: <%= @ratings.count %></p>

<ul>
 	<% @ratings.each do |rating| %>
   	<li> <%= rating %> 
   		<% unless rating.user.nil? %>
   		<%= link_to rating.user.username, rating.user %>
   		<%else%>

   		<% end -%>
   	</li>
 	<% end %>
</ul>

<%= link_to 'New rating', new_rating_path %>
  	